body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

table {
    border-collapse: collapse;
}
table, th, td 
{
    border: 1px solid black;
}

.target-list  th, caption td{ 
    padding: 5px;
    font-size:11px;
}

.target-list th, caption{ 
    font-weight:bold;
    text-align:center;
}
.target-list th {
    color: white;
}

.target-list .yellow-title{ 
    background-color:#FFC000;
}

.no-wrap{
    text-wrap:none;
}
.sub-title {
    text-align:center;
}

.check-mark-td {
    text-align:center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
    color: #000;
}

h4 {
    font-size: 1.1em;
}

fieldset {
    border: 1px solid #ddd;
    padding: 2em 2em 2em 2em;
    margin: 1.5em 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

.div_field_left{
    display: inline-block; 
    vertical-align:top; 
    width:180px
}

.PrincipleTable {
    border: hidden;
    line-height: 100%;
    font-size: 14pt;
    font-family: Arial
}

/* WebGrid style */
    .webGrid { border-collapse: collapse; width: 1100px; font-family:Arial; font-size:12px }
    .header { background-color: #23608A; font-weight: bold; color: white; }
    .webGrid th, .webGrid td { border: 1px solid #C0C0C0; padding: 0px 2px 0px 2px; }
    .webGrid th {text-align:center}
    .alt { background-color: #E4E9F5; color: #000; }
    .gridHead a:hover {text-decoration:underline;}
    .description { width:auto}
    .select {background-color: #71857C}
    .number {text-align:right}


    
