@using Discoverx.Models;
@model Discoverx.Models.StudyReport.PHStudyReportViewModel



    <table style="border:hidden; page-break-before:always">
        <tr>
            <td valign="top" class="no_border">
                
                <div>
                    <p style='font-size:16pt;font-weight:bold; font-style:italic'>Assay Design: Orphan GPCR Arrestin</p>

                    <p class='sub-sub'>Orphan GPCR Quality Control</p>

                    <p style="margin-left:35px">All Orphan GPCR assays were qualified for use in the oGPCR panel by establishing expression of the ProLink-tagged GPCR by EAstern blot.   EAstern blot is a protein blot method that allows the detection of ProLink-tagged proteins after separation by SDS-PAGE gel and transfer to nitrocellulose membranes.  For all the oGPCRs used in the study a ProLink-tagged protein was detected at the expected molecular weight.</p>

                    <p class='sub-sub'>Cell Handling</p>
                    <ol>
                        <li>
                            PathHunter oGPCR cells were expanded from freezer stocks according to standard procedures.
                        </li>
                        <li>
                            Cells were seeded in a total volume of 20 µL into white walled, 384-well microplates and incubated at 37°C for the appropriate time prior to testing.
                        </li>
                    </ol>
                    <p class='sub-sub'>
                        Agonist Format
                    </p>
                    <ol>
                        <li>
                            For agonist determination, cells were incubated with sample to induce response.
                        </li>

                        <li>
                            Intermediate dilution of sample stocks was performed to generate 5X sample in assay buffer.
                        </li>
                        <li>
                            5 µL of 5X sample was added to cells and incubated at 37°C or room temperature for 90 to 180 minutes.  Vehicle concentration was 1%.
                        </li>
                    </ol>
                    <p class='sub-sub'>
                        Inverse Agonist Format
                    </p>
                    <ol>
                        <li>
                            For inverse agonist determination, cells were incubated with sample to induce response.
                        </li>
                        <li>
                            Intermediate dilution of sample stocks was performed to generate 5X sample in assay buffer.
                        </li>
                        <li>
                            5 µL of 5X sample was added to cells and incubated at 37°C or room temperature for 3 to 4 hours.
                            Vehicle concentration was 1%.  Extended incubation is typically required to observe an inverse agonist response in the PathHunter arrestin assay.
                        </li>
                    </ol>
                    <p class='sub-sub'>
                        Signal Detection
                    </p>
                    <ol>
                        <li>
                            After appropriate compound incubation, assay signal was generated through a single addition of 12.5 µL (50% v/v) of PathHunter Detection reagent cocktail 
                            for agonist and inverse agonist assays, followed by a one hour incubation at room temperature.  For some oGPCRs that exhibit low basal signal, activity was 
                            detected using a high sensitivity detection reagent (PathHunter Flash Kit) to improve assay performance.  For these assays an equal volume (25 µL) of 
                            detection reagent was added to the wells and incubated for 1 hour at room temperature.
                        </li>
                        <li>
                            Microplates were read following signal generation with a PerkinElmer Envision<sup>TM</sup> instrument for chemi-luminescent signal detection.

                        </li>
                        <li>
                            EFC positive and negative control assays were performed alongside compound testing for each oGPCR to verify expression of the PK-tagged GPCR.

                        </li>
                        <li>
                            The EFC positive control detects expression of the PK-tagged GPCR and produces a significant increase in EFC activity compared to the EFC negative control 
                            if no constitutive activity is present.

                        </li>
                        <li>
                            The EFC negative control measures constitutive activity which relates to the amount of Arrestin recruitment occurring with the oGPCR in the absence of stimulation.  
                            In some cases constitutive activity is high enough that little or no increase in activity can be observed with the EFC positive control.
                    </ol>
                    <p class='sub-sub'>
                        Data Analysis
                    </p>
                    <ol>
                        <li>
                            Compound activity was analyzed using CBIS data analysis suite (ChemInnovation, CA).
                        </li>
                        <li>
                            The percentage activity is calculated using the following formula:

                            <p>
                                % Activity =100% x (mean RLU of test sample - mean RLU of vehicle control) / (mean RLU of vehicle control).
                            </p>
                        </li>
                        <li>
                            For inverse agonist mode assays, percentage activity was calculated using the following formula:

                            <p>
                                % Activity =100% x (1-(mean RLU of test sample - mean RLU of vehicle control) / (mean RLU of vehicle control)).
                            </p>
                        </li>
                    </ol>
                </div>

            </td>
        </tr>

    </table>

