@{
    ViewBag.Title = "Ordering Information";
    Layout = "~/Views/Shared/_PDFLayout.cshtml";
}



<div style="width:1150px;height:100px; background-color:#005cb9; border-width:0px;padding:10px">
        
        <p style="color:white; font-size:40px; font-weight:bold; margin:30px 50px">Ordering Information</p>
     
</div>
<div>
    <div style="width:1000px;height:200px; background-color:#eaf3f9; border-width:0px;margin:20px 60px; padding:20px">

        <div style="width:520px; float:left">
            <span style="color:#005cb9; font-weight:bold">World Wide Headquarters</span>
            <br />DiscoverX Corporation 
            <br />42501 Albrae Street, Suite 100 Fremont, CA 94538
            <br />United States 
            <br /><br />t | 510.979.1415 
            <br />f | 510.979.1650 
            <br />toll-free | 866.448.4864 (US only) 
            <br />email | info@discoverx.com
        </div>
        <div style="width:450px; float:left">
            <span style="color:#005cb9; font-weight:bold">European Regional Headquarters</span>
            <br />DiscoverX Corporation, Ltd.
            <br />Faraday Wharf, Holt Street
            <br />Birmingham Science Park Aston
            <br />Birmingham, B7 4BB
            <br />United Kingdom
            <br /><br />t | +44.121.260.6142
            <br />f | +44.121.260.6143
            <br />email | euroinfo@discoverx.com
        </div>

    </div>
</div>

    <div style="margin-top: 1180px;">
        <img style="margin-left:930px" src="@Url.Content("~/Content/images/PDFCover/DRx_logo_2013.png")" width="200" height="40" alt="dixcoverx.com" />
        <p style=" margin-left:60px">© 2016 DiscoverX Corporation. All rights reserved. DiscoverX logo and DiscoverX are registered trade mark of DiscoverX Corporation.</p>
        <p style="background-color:#005cb9; height:3px; width:1160px"></p>
        <p style=" margin-left:60px"><span style="margin-right:45px">tel | 866.448.4864 (US only)</span><span style="margin-right:45px">tel |  +44.121.260.6142</span><span style="margin-right:45px">e |  info@discoverx.com</span> </p>

    </div>

