@using Discoverx.Models.CBIS_DB;
@using Discoverx.Models;
@using Discoverx.Models.TargetPriceList;

@model Discoverx.Models.TargetPriceList.TargetListViewModel

@{
    ViewBag.Title = "PathHunter Pharmacotrafficking Assay";
    Layout = "~/Views/Shared/_PDFLayout.cshtml";
}
<style>
    table{
        font-size:12px;
    }
    th {
        background-color: #FFC000;
    }
    .alter-row{
            background-color:#FDE9D9;
        }
</style>
@if(Model.displayPDFLink)
{
@Html.ActionLink("Export to PDF", "ViewPdf", new { pageTitle = "PathHunter Pharmacotrafficking Assay", viewName = "PathHunterPharmacotraffickingAssayList", fileName = "PathHunter Pharmacotrafficking Assay" })
}
<table id="Content">
    <caption>PathHunter&reg; Pharmacotrafficking Assays</caption>
    <col width="150px" />
    <col width="480px" />
    <col width="130px" />
    <col width="130px" />
    <col width="180px" />
    <tr>
        <th rowspan="2">TARGET</th>
        <th rowspan="2">PRODUCT DESCRIPTION</th>
        <th rowspan="2">PATHHUNTER&reg;<br />CELL LINE</th>
        <th rowspan="2">PATHHUNTER&reg;<br />EXPRESS KITS</th>
        <th>LeadHunter&#x2120; SERVICE</th>
    </tr>
    <tr>
        <th>PROFILING</th>

    </tr>
    <tr>
        <th colspan="5" >PathHunter&reg; Pharmacotrafficking Assay</th>

    </tr>
    @{int i = 0;}
        @foreach (vw_TPL_Assays assay in Model.AssayList1)
        {

            <tr @if (i % 2 == 0) { <text> class="alter-row" </text> }>
                <td>@assay.TARGET</td>
                <td nowrap>@assay.DESCRIPTION</td>
                <td align="center">
                    @if (!String.IsNullOrEmpty(assay.CellLinePN))
                    {<text >X</text> }
                </td>
                <td align="center">
                    @if (!String.IsNullOrEmpty(assay.ExpressKitPN))
                    {<text>X</text> }
                </td>
                <td align="center">
                    @if (assay.PROF_COMMERCIAL_NAME_PRIMARY_ELECT == "gpcrELECT")
                    {<text>X</text> }
                </td>
                </tr>
                    i++;
        }
</table>

